.header-container {
    display: flex;
    margin: 5px 8px;
}

.navigation-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.new-task {
    color: white;
    background-color: #934BFF;
    transition: all 0.4s;
    
    &:hover {
        background-color: #781EFF;
        margin-top: 0px;
        margin-bottom: 0px;
        transition: all 0.4s;
    }
}

.active-tab {
    background-color: #781EFF;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all 0.4s;
}


@media (max-width: 768px) {
    .navigation-container {
        flex-direction: column;
    }

    .new-task, .big-button{
        &:hover {
            padding: 14px 0px;
            margin: 4px 2px;
        }
    }

    .active-tab {
        padding: 14px 0px;
        margin: 4px 2px;
        width: 80%;
    }
}
